"*":
  "aligner-scss": {}
  "atom-beautify":
    _analyticsUserId: "c7844b0f-4310-4637-bd1e-dfe8785825e5"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 121
        green: 121
        blue: 121
        alpha: 1
      accentColor:
        red: 158
        green: 110
        blue: 110
        alpha: 1
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
    treeView: {}
    ui:
      panelContrast: true
      panelShadows: true
  "atom-typescript": {}
  "autocomplete-plus": {}
  build: {}
  "clip-history": {}
  "clipboard-plus": {}
  core:
    audioBeep: false
    themes: [
      "atom-material-ui"
      "hybrid-next-syntax"
    ]
  "cursor-history": {}
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "018125f2-7a66-8644-6ae4-6ae87d186db9"
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "language-babel": {}
  linter:
    displayLinterInfo: false
    errorPanelHeight: 1030
    lintOnFlyInterval: 1000
  "linter-eslint": {}
  "linter-jshint": {}
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  "one-light-ui": {}
  "package-sync":
    forceOverwrite: true
  pigments: {}
  "terminal-plus":
    core:
      shell: "/usr/local/bin/zsh"
    style:
      defaultPanelHeight: "100px"
    toggles:
      autoClose: true
      cursorBlink: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    flashOnUndoRedo: true
    flashOnUndoRedoDuration: 150
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".pug.source":
  whitespace:
    removeTrailingWhitespace: false
