packages: [
  ".bin"
  "aligner"
  "aligner-scss"
  "an-old-hope-syntax"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autocomplete-paths"
  "clip-history"
  "color-picker"
  "editorconfig"
  "file-type-icons"
  "gotham-syntax"
  "gruvbox"
  "language-gitignore"
  "language-pug"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-scss-lint"
  "merge-conflicts"
  "minimap"
  "native-ui"
  "octocat-syntax"
  "package-sync"
  "pigments"
  "project-plus"
  "pumpkin-syntax"
  "robin-hood-syntax"
  "sepia-syntax"
  "sort-lines"
  "terminal-plus"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
]
